<body>
  <div class="left"></div>
  <div class="middle">
    <div class="avatar">
      <img class="avatar" src="../../../assets/imagenes/fotoPresentacion.jpg">
    </div>
    <div class="desc">
      <p class="desc">Mi nombre es Thomas Rosas, tengo 20 anos y soy estudiante de la Tecnicatura
         Universitaria en Programacion en la Universidad Tecnologica Nacional (UTN).
        Pueden encontrar mis otros proyectos en mi <a class="webs" href="https://github.com/rosasthomas">GitHub</a>
        y mi perfil en <a class="webs" href="https://www.linkedin.com/in/rosasthomas/">LinkedIn</a></p>
    </div>
    <div class="links"> 
      <a href="https://github.com/rosasthomas" target="_blank"><img class="links" src="https://img.icons8.com/ios-filled/100/000000/github.png"/></a>
      <a href="https://www.linkedin.com/in/rosasthomas/" target="_blank"><img class="links" src="https://img.icons8.com/ios-filled/100/000000/linkedin.png"/></a>  
    </div>
    <div class="back">
      <img class="back" src="../../../assets/icons/back-white-60x60.png" routerLink="/">
    </div>
  </div>
  <div class="right"></div>
  <div class="bottom"></div>
</body>