@media only screen and (min-height: 696px){
    div.avatar{
        height: 35%;
        margin-top: 7%;
    }
    div.links{
        margin-top: 2%;
    }
}

@media only screen and (max-height: 695px){
    div.avatar{
        height: 39%; 
        margin-top: 3%;
    }
    div.links{
        margin-top: 2%;
    }
}

@media only screen and (max-width: 1116px) {
    div.left{
        width: 18vw;
        height: 80vh;
    }
    div.middle{
        width: 63vw;
        height: 80vh;
    }
    div.right{
        width: 18vw;
        height: 80vh;
    }
    
    div.bottom{
        width: 100vw;
        height: 20vh;
    }
    div.links{
        margin-top: 2%;
    }
}

@media only screen and (min-width: 1117px) {
    div.left{
        width: 21vw;
        height: 80vh;
    }
    div.middle{
        width: 58vw;
        height: 80vh;
    }
    div.right{
        width: 21vw;
        height: 80vh;
    }
    
    div.bottom{
        width: 100vw;
        height: 20vh;
    }

    div.back{
        margin-top: 10%;
    }
    div.links{
        margin-top: 2%;
    }
    div.desc{
        font-size: 100%;
    }
}

@media only screen and (max-width: 849px) {
    div.left{
        width: 9vw; 
        height: 80vh;
    } 
    div.middle{
        width: 82vw;
        height: 80vh;
    }
    div.right{
        width: 9vw;
        height: 80vh;
    }
    
    div.bottom{
        width: 100vw;
        height: 20vh;
    }
}

@media only screen and (max-width: 1290px) {
    div.back{
        margin-top: 7%;
    }
    div.links{
        margin-top: 2%;
    }
    div.desc{
        font-size: 100%;
    }
}

@media only screen and (max-width: 1231px) {
    div.back{
        margin-top: 10%;
    }
    div.avatar{
        margin-top: 8%;
        height: 25%;
    }
    div.links{
        margin-top: 5%;
    }
    div.desc{
        font-size: 90%;
    }
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{    
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets/imagenes/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    background-color: rgb(66, 66, 66);
}

div.middle, div.bottom, div.right, div.left{
    float: left;    
}

div.avatar{
    margin-left: 5%;
    width: 27%;
}

img.avatar{
    width: 100%;
    height: 100%;
    border-radius:160px;
    border:10px solid rgb(255, 54, 54);
}

div.desc{
    font-family: "8Bits";
    color: white;
    text-align: center;
    width: 60%;
    margin-left: 30%;
    margin-top: -5%;
}

a{
    text-decoration: underline;
    color: white;
}

a.webs:hover{
    background-color: red;
    
}

div.links{
    left: 42%;
    margin-top: 2%;
    position: absolute;
}

div.back{
    position: relative;
    left: 2%;
}

img.links:hover, img.back:hover{
    transform: scale(1.1);
    outline: none;
}
