<div class="container">
    <div><span class="titulo">Ta Te Ti</span></div>
    <div class="tateti" id="tateti">
        <div class="row uno">
            <div class="column" id="cell00" (click)="seleccionarJugador(0,0,'x')">
            </div>
            <div class="column dos" id="cell01" (click)="seleccionarJugador(0,1,'x')">
            </div>
            <div class="column" id="cell02" (click)="seleccionarJugador(0,2,'x')">
            </div>
        </div>
        <div class="row dos">
            <div class="column" id="cell10" (click)="seleccionarJugador(1,0,'x')">
            </div>
            <div class="column dos" id="cell11" (click)="seleccionarJugador(1, 1,'x')">
            </div>
            <div class="column" id="cell12" (click)="seleccionarJugador(1,2,'x')">
            </div>
        </div>
        <div class="row tres">
            <div class="column" id="cell20" (click)="seleccionarJugador(2,0,'x')">
            </div>
            <div class="column dos" id="cell21" (click)="seleccionarJugador(2,1,'x')">
            </div>
            <div class="column" id="cell22" (click)="seleccionarJugador(2,2,'x')">
            </div>
        </div>
    </div>
    <div class="mensajes" id="msj"> 
        <span id="spmsj">Es tu turno</span>
    </div>
</div>