<!-- <div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="../../../assets/imagenes/matem.png" alt="Avatar" style="width:100%">
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="../../../assets/imagenes/61CD2t4VmDL.png" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="../../../assets/imagenes/mago.gif" alt="Avatar" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
  </div> -->

  <div class="juegos">
    <div class="contenedor">
      <div class="primero" (click)="Juego('PPT')"><img src="../../../assets/icons/papper-scissor-rock-100x100.png"><label class="ppt">Piedra, Papel o Tijera</label></div>
      <div class="segundo" (click)="Juego('Adivina')"><img src="../../../assets/icons/icons8-ayuda-100.png"><label class="ppt">Adivina el numero</label></div>
      <div class="tercero" (click)="Juego('Agilidad')"><img src="../../../assets/icons/icons8-matemáticas-100.png"><label class="ppt"> Agilidad Aritmetica</label></div>
      <div class="cuarto" (click)="Juego('Completa')"><img src="../../../assets/icons/icons8-abc-90.png"><label class="ppt"> Completa la palabra</label></div>
    </div>
  </div>