div.juegos{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.contenedor{
    height: 45%;
    width: 95%;
    display: flex;
    flex-direction: row; 
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-family: "8Bits";
    color: black;
}

div.primero{
  width: 30%;
  height: 90%;
  margin-right: 3%;
  border-radius: 5%;
  text-align: center;
  background:rgba(253, 53, 53, 0.87); 
}

label{
  margin-top: 5%;
}

div.segundo{
  width: 30%;
  height: 90%;
  background: rgba(87, 54, 255, 0.87); 
  text-align: center;
  margin-right: 3%;
  border-radius: 5%;
}
div.tercero{
  width: 30%;
  height: 90%;
  border-radius: 5%;
  text-align: center;
  background:rgba(253, 53, 53, 0.87); 
}

div.primero:hover, div.segundo:hover, div.tercero:hover{
  transform: scale(1.15);
  cursor: pointer;
}
label:hover{
  cursor: pointer;
}