<!--   <div class="container" >
  <div class="jumbotron" style="padding:50px;">
    <form action="return true;">
      <div class="imgcontainer">
        <img src="./assets/imagenes/login.png" alt="Avatar" class="avatar" max-width="104" >
      </div>

      <div class="container">
        <label><b>Usuario</b></label>
        <input type="text" placeholder="Usuario"  [(ngModel)]="usuario"  name="uname" required>

        <label><b>Clave</b></label>
        <input type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required>
            
        <button *ngIf="logeando"  (click)="MoverBarraDeProgreso()" >Ingresar</button>
       
        <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
              {{progresoMensaje}} - {{progreso}}%
            </div>
        </div>
       
        <input type="checkbox" checked="checked"> Recordar mis datos
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="button" class="aceptbtn" routerLink="/Registro" >Registrarse</button>
        <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
      </div>
     
    </form>
  </div>
</div> 
 -->
<body>
  <div class="left"></div>
  <div class="middle">
    <form [formGroup]="myForm" (ngSubmit)=saveData()>
      <div class="avatar">
        <div class="error" hidden id="errorUser">Usuario o contrasena invalidos</div>
        <img class="avatar" id="avatar" src="http://icons.iconarchive.com/icons/ph03nyx/super-mario/128/Retro-Mushroom-Super-3-icon.png"/>
      </div>
      <div class="usuario"> 
          <label class="usuario " for="usuario">Usuario </label>
          <input class="usuario" formControlName="email"  name="email" type="text" id="usuario">
      </div>
      <div class="pass">
        <label class="pass" for="pass">Contrasena</label>
        <input class="pass" formControlName="password" type="password" name="password" id="pass">
      </div>
      <div *ngIf="logeando">
      <div class="submit">
        <button class="submit "  type="submit">Ingresar</button>
        <button class="registrarse" routerLink="/Registro" type="button">Registrar</button>
      </div>
      <div class="recordar">
      </div>   
    </div>   
      <div *ngIf="!logeando" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
          {{progresoMensaje}} - {{progreso}}%
        </div>
    </div>
    </form>

  </div>
  <div class="right"></div>
  <div class="bottom"></div>
</body> 