<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->

<div class="container">
  <span class="titulo"> Agilidad aritmetica</span>
<form name="juego">
    <div class="cuenta">
      <label class="numero" id="uno">_</label>
      <label class="operador" id="op">_</label>
      <label class="numero" id="dos">_</label>
    </div>
  <div>
    <span>Respuesta: </span><input class="resp" [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese respuesta" maxlength="10" id="respuesta" name="numeroIngresado" type="number" autocomplete="off" />
   </div>
  <div>
    <span [hidden]="ocultarVerificar" ><button disabled >Verificar {{Tiempo}} </button></span>
    <span [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()">Nuevo</button></span>
  </div>
  <div class="error" hidden id="perdio">
     <span>Usted ha perdido</span>
  </div>
  <div class="gano" id="gano" hidden>
    <span>Felicitaciones gano</span> 
 </div>
</form>
</div> 