<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->

<div class="container">
  <span class="titulo"> Agilidad aritmetica</span>
<form name="juego">
  <div class="numeros">
   <div class="spans">
   <span>Primer numero: </span>
   <span>Operador: </span>
   <span>Segundo numero: </span>
  </div>
    <div>
      <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" readonly/>
      <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" readonly/>  
      <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" readonly/>
    </div>
  </div>
  <div>
    <span>Respuesta: </span><input class="resp" [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" />
   </div>
  <div>
    <span [hidden]="ocultarVerificar" ><button (click)="verificar()" >Verificar {{Tiempo}} </button></span>
  </div>
  <div>
    <span [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()">Nuevo</button></span>
  </div>
  <div class="esperando">
    <span><p><i  class="fa fa-spinner fa-spin spiner"></i>Esperando numero...</p></span>

    <span [hidden]="!nuevoJuego.gano">usted adivino el numero</span>
    <span [hidden]="nuevoJuego.gano">usted aun no gano </span>
  </div>
</form>
</div>