div.tabla{
    text-align: center;
    color: white;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 120%;
}

table.tablita{
    border: dashed 5px white;
    height: 100%;
    width: 95%;
}

tr:hover{
    border: dashed 5px blue;
}