<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->
<div class="tabla">
    <table class="tablita">
      <thead>
        <tr>
          <th>Juego</th>
          <th>Jugador</th>
          <th>Gano</th>
          <th>Perdio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jugador of listado">
          <td>{{jugador.juego}} </td>
          <td>{{jugador.nombre}} </td> 
          <td >{{jugador.gano}} </td>   
          <td>{{jugador.perdio}}</td>     
        </tr>
       
      </tbody>
    </table>

</div>