/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: "8Bits";
    src: url("./assets/fonts/8-BITWONDER.TTF");
}

@font-face{
    font-family: "alarma";
    src: url("./assets/fonts/alarm clock.ttf");
}

*{
    outline: none;
}