@media only screen and (min-height: 696px) {
    div.ingreso{
        padding-top: 4%;
        width: 30%;
        right: 2%;
    }
    div.quienSoy{
        width: 20%;
    }
}

@media only screen and (min-width: 1321px) {
    div.ingreso{
        width: 30%;
        right: 2%;
    }
}

@media only screen and (max-width: 1320px) {
    div.ingreso{
        padding-top: 3%;
        width: 30%;
        right: 2%;
    }
    div.quienSoy{
        width: 20%;
    }
}

@media only screen and (max-width: 1231px) {
    div.ingreso{
        padding-top: 4%;
        width: 40%;
        right: 2%;
    }
    div.titulo{
        top: 20%;
    }
    div.quienSoy{
        width: 20%;
    }
}

@media only screen and (max-width: 1116px) {
    div.ingreso{
        right: 0%;
    }
    div.quienSoy{
        width: 20%;
    }
}

@media only screen and (max-width: 1028px) {
    div.quienSoy{
        width: 30%;
    }
}

@font-face{
    font-family: "8Bits";
    src: url("../../../assets/fonts/8-BITWONDER.TTF");
}

*{
    box-sizing: border-box;
}

div{
    display: inline-block
}

div.head{
    position: relative;
    width: 100%;
    height: 15%;
}

div.titulo{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 250%;
    padding-top: 10%;
    text-align: center;
    color: white;
    font-family: "8Bits";
}

div.ingreso{
    position: absolute;
    top: 10%;
    height: 100%;
    font-size: 48%;
    text-align: right;
}

div.ingreso:hover{
    cursor: pointer;
}



span.ingreso, span.registro{
    margin: 4px;
    color: white;
    font-family: '8Bits';
}

.banner {
    height: 45%;
    width: 95%;
    position: relative;
    margin-top: 15%;
    margin-left: 2.3%;
    display: flex;
    flex-direction: row; 
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    align-items: center;
}
.banner .item {
    flex: 1 1 auto;
    width: 24%;
    height: 95%;
    transition: width 0.7s ease-out;  
    border-radius: 5%;
    background: rgba(0, 255, 38, 0.639);
    margin: 2px;
    outline: none;
}
.banner .first {
    background:rgba(253, 53, 53, 0.87)  url("../../../assets/icons/gameboy-white-100x100.png") center center no-repeat; 
    border-style: solid white 40px;
}
.banner .first:hover {
    width: 150%; 
    cursor: pointer;
}
.banner .second {
    background: rgba(87, 54, 255, 0.87) url("../../../assets/icons/leaderboard-white-100x100.png") center center no-repeat; 
}
.banner .second:hover {
    width: 150%; 
    cursor: pointer;
}
.banner .third {
    background: rgba(253, 53, 53, 0.87) url("../../../assets/icons/people-white-100x100.png") center center no-repeat; 
}
.banner .third:hover {
    width: 150%; 
    cursor: pointer;
}
.banner .fourth {
    background: rgba(87, 53, 255, 0.87) url("../../../assets/icons/white-gears-100x100.png") center center no-repeat ; 
}
.banner .fourth:hover {
    width: 150%; 
    cursor: pointer;
}

div.quienSoy{
    outline: none;
    position: relative;
    left: 2%;
    margin-top: 8%;
}

div.quienSoy:hover{
    transform: scale(1.1);
    cursor: pointer;
}

span.quienSoy{
    font-family: "8Bits";
    color: white;
    font-size: 70%;
}
