<div class="head">
  <div class="titulo">
    <span>SALA DE JUEGOS</span>
  </div>
  <div class="ingreso">
      <a routerLink="/Login"><img src="../../../assets/icons/user-white-30x30.png"/><span class="ingreso">Ingresar</span></a>
      <a routerLink="/Registro"><img src="../../../assets/icons/adduser-white-30x30.png"/><span class="registro">Registrarse</span></a>  
  </div>
</div>
<div class="banner">
  <div routerLink="/Juegos" class="item first"> </div>
  <div routerLink="/Listado" class="item second"></div>
  <div routerLink="/Jugadores" class="item third"></div>
  <div routerLink="/Juegos" class="item fourth"></div>
</div>

<div routerLink="/QuienSoy" class="quienSoy">
  <span class="quienSoy"><img src="../../../assets/icons/user-white-30x30.png"/>¿Quien soy?</span>
</div>
